{% set title = 'Masonry' %}

{% set description = "Cascading grid layout library" %}

{% set urlPage = "masonry" %}

{% extends "template/base.html" %}

{% block content %}

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
	<article class="center">

{% include "available-artworks/tags.html" %}

	</article>

<div class="grid">


<div class="grid-item"><img src="/masonry/img/05.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/08.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/23.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/04.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/10.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/06.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/01.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/07.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/09.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/11.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/12.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/02.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/13.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/14.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/03.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/15.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/16.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/17.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/18.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/19.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/20.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/21.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/22.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/24.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/25.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/26.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/27.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/28.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/29.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/30.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/31.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/32.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/33.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/34.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/35.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/36.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/37.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/38.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/39.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/40.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/41.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/42.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/43.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/44.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/45.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/46.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/47.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/48.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/49.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/50.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/51.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/52.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/53.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/54.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/55.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/56.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/57.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/58.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/59.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/60.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/61.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/62.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/63.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/64.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/65.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/66.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/67.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/68.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/69.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/70.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/71.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/72.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/73.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/74.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/75.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/76.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/77.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/78.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/79.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/80.jpg" alt=""></div>
<div class="grid-item"><img src="/masonry/img/81.jpg" alt=""></div>

</div>

<style>

	.grid {

		display: flex;
		flex-wrap: wrap;
		margin: -10px 10px;

	}

	.grid-item {

		width: calc(100% / 2);
		padding: 10px;

	}

	.grid-item img {

		max-width: 100%;

	}

@media (min-width: 768px) {

	.grid-item {

		width: calc(100% / 3);

	}

}

@media (min-width: 1200px) {

	.grid-item {

		width: calc(100% / 4);
	}

}

@media (min-width: 1300px) {

	.grid-item {

		width: calc(100% / 5);
	}

}

@media (min-width: 1500px) {

	.grid-item {

		width: calc(100% / 6);
	}

}
</style>

<script>

	window.addEventListener("load", () => {

		const elem = document.querySelector('.grid');

		const msnry = new Masonry( elem, {

			itemSelector: '.grid-item',
			percentPosition: true

		});

	});

</script>

{% endblock %}