			<div class="modal__item modal__item--successfully-proposed-a-figure">

				<div class="modal__logo">

					<img src="/img/modal/successfully-proposed.svg" width="120" height="120" alt="">

				</div>

				<h3 class="modal__title h3 align-center">
					You have successfully proposed&nbsp;a&nbsp;figure
				</h3>

				<button class="modal__btn-ok modal__close btn" type="button">
					OK
				</button>

			</div>

			<div class="modal__item modal__item--successfully-voted-for-a-figure">

				<div class="modal__logo">

					<img src="/img/modal/successfully-proposed.svg" width="120" height="120" alt="">

				</div>

				<h3 class="modal__title h3 align-center">
					You have successfully voted for&nbsp;a&nbsp;figure
				</h3>

				<button class="modal__btn-ok modal__close btn" type="button">
					OK
				</button>

			</div>

			<div class="modal__item modal__item--your-reward-was-successfully-claimed">

				<div class="modal__logo">

					<img src="/img/modal/successfully-proposed.svg" width="120" height="120" alt="">

				</div>

				<h3 class="modal__title h3 align-center">
					Your reward was successfully claimed
				</h3>

				<button class="modal__btn-ok modal__close btn" type="button">
					OK
				</button>

			</div>

			<div class="modal__item modal__item--your-tokens-were-successfully-unlocked">

				<div class="modal__logo">

					<img src="/img/modal/successfully-proposed.svg" width="120" height="120" alt="">

				</div>

				<h3 class="modal__title h3 align-center">
					Your tokens were successfully unlocked
				</h3>

				<button class="modal__btn-ok modal__close btn" type="button">
					OK
				</button>

			</div>

			<div class="modal__item modal__item--something-goes-wrong">

				<div class="modal__logo">

					<img src="/img/modal/something-goes-wrong.svg" width="120" height="120" alt="">

				</div>

				<h3 class="modal__title h3 align-center">
					Something goes wrong...
				</h3>

				<button class="modal__btn-ok modal__close btn" type="button">
					OK
				</button>

			</div>

			<div class="modal__item modal__item--successfully-proposed-an-artwork">

				<div class="modal__logo">

					<img src="/img/modal/successfully-proposed-an-artwork.svg" width="120" height="120" alt="">

				</div>

				<h3 class="modal__title h3 align-center">
					You have successfully proposed&nbsp;an artwork
				</h3>

				<button class="modal__btn-ok modal__close btn" type="button">
					OK
				</button>

			</div>

			<div class="modal__item modal__item--successfully-voted-for-an-artwork">

				<div class="modal__logo">

					<img src="/img/modal/successfully-proposed-an-artwork.svg" width="120" height="120" alt="">

				</div>

				<h3 class="modal__title h3 align-center">
					You have successfully voted for&nbsp;an artwork
				</h3>

				<button class="modal__btn-ok modal__close btn" type="button">
					OK
				</button>

			</div>